$navbar-default-bg: black;


@import "bootstrap-sprockets";
@import "bootstrap";


#logo {
  float: left;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

.nav-button {
  color: white;
}